In [452]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter
#print(os.listdir(""))

In [453]:
data = pd.read_csv('data.csv')
data.head(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015

In [454]:
len(data)

1890

# Предобработка датасета

In [455]:
answer_ls = []
# создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [456]:
# тут вводим ваш ответ и добавлем в его список ответов (сейчас для примера стоит "1")
variants = ['The Dark Knight Rises', 'Spider-Man 3', 'Avengers: Age of Ultron', "The Warrior's Way", 'Pirates of the Caribbean: On Stranger Tides']
print(data[data.budget == data.budget.max()]['original_title'])
answer_ls.append(4)

491    The Warrior's Way
Name: original_title, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [457]:
print(data[data.runtime == data.runtime.max()]['original_title'])
answer_ls.append(2)

1158    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [458]:
print(data[data.runtime == data.runtime.min()]['original_title'])
answer_ls.append(3)

769    Winnie the Pooh
Name: original_title, dtype: object

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [459]:
print(data['runtime'].mean())
answer_ls.append(2)

109.65343915343915

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [460]:
print(data['runtime'].median())
answer_ls.append(1)

106.5

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [461]:
data['profit'] = data['revenue'] - data['budget']
display(data[data.profit == data.profit.max()])
answer_ls.append(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
239,tt0499549,9.432768,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,8458,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [462]:
display(data[data.profit == data.profit.min()])
answer_ls.append(2)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
491,tt1032751,0.25054,425000000,11087569,The Warrior's Way,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,Sngmoo Lee,Assassin. Hero. Legend.,An Asian assassin (Dong-gun Jang) is forced to...,100,Adventure|Fantasy|Action|Western|Thriller,Boram Entertainment Inc.,12/2/2010,74,6.4,2010,-413912431

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [463]:
display(len(data[data.profit > 0]))
answer_ls.append(1)

1478

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [464]:
display(data.loc[data.release_year == 2008][['original_title', 'profit']].sort_values(['profit'], ascending = False).head())
answer_ls.append(4)

                                        original_title     profit
600                                    The Dark Knight  816921825
604  Indiana Jones and the Kingdom of the Crystal S...  601636033
608                                         Mamma Mia!  557841637
607                                      Kung Fu Panda  501744560
622                                            Hancock  474029371

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [465]:
display(data.loc[(data.release_year >= 2012) & (data.release_year <= 2014)][['original_title', 'profit']].sort_values(['profit'], ascending = True).head())
answer_ls.append(5)

                       original_title     profit
1246                  The Lone Ranger -165710090
1215                         R.I.P.D.  -68351500
1008                      Upside Down  -51893525
1303  Legends of Oz: Dorothy's Return  -51337973
1236               Bullet to the Head  -45510171

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [466]:
options = {'Action': 0, 'Adventure': 0, 'Drama': 0, 'Comedy': 0, 'Thriller': 0}
for i in options.keys():
    options[i] = len(data[data.genres.str.contains(i)])
print(options)
answer_ls.append(3)

{'Action': 583, 'Adventure': 416, 'Drama': 782, 'Comedy': 683, 'Thriller': 597}

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [467]:
options = {'Drama': 0, 'Comedy': 0, 'Action': 0, 'Thriller': 0, 'Adventure': 0}
for i in options.keys():
    options[i] = len(data[(data.profit > 0) & (data.genres.str.contains(i))])
print(options)
answer_ls.append(1) #Вариант ответа в анкете = 3 (другой список)

{'Drama': 560, 'Comedy': 551, 'Action': 444, 'Thriller': 446, 'Adventure': 337}

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [468]:
#data.head(5)
display(data['director'].value_counts())
answer_ls.append(3)

Steven Soderbergh                  13
Ridley Scott                       12
Clint Eastwood                     12
Shawn Levy                         10
Steven Spielberg                   10
                                   ..
GrÃ©gory Levasseur                  1
Louis Leterrier|Corey Yuen Kwai     1
Kirk De Micco                       1
James Marsh                         1
Michael Hoffman                     1
Name: director, Length: 958, dtype: int64

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [469]:
display(data[(data.profit > 0)]['director'].value_counts())
answer_ls.append(4) #Вариант ответа в анкете = 2 (другой список)

Ridley Scott                                 12
Steven Spielberg                             10
Clint Eastwood                               10
Steven Soderbergh                            10
Shawn Levy                                    9
                                             ..
Cory Edwards|Todd Edwards|Tony Leech          1
Ben Garant                                    1
Stephen Gaghan                                1
Joel Zwick                                    1
Jorge Blanco|Javier Abad|Marcos MartÃ­nez     1
Name: director, Length: 774, dtype: int64

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [470]:
display(data.groupby(['director'])['profit'].sum().sort_values(ascending=False))
answer_ls.append(5)

director
Peter Jackson            5202593685
David Yates              3379295625
Christopher Nolan        3162548502
J.J. Abrams              2839169916
Michael Bay              2760938960
                            ...
David Bowers|Sam Fell     -84540684
Peter Hyams               -86956545
Ron Underwood             -92896027
James L. Brooks           -96289726
Sngmoo Lee               -413912431
Name: profit, Length: 958, dtype: int64

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [471]:
#display(data.head(1))
options = {'Emma Watson': 0, 'Johnny Depp': 0, 'Michelle Rodriguez': 0, 'Orlando Bloom': 0, 'Rupert Grint': 0}
for i in options.keys():
    options[i] = data[data.cast.str.contains(i)]['profit'].sum()
print(options)
answer_ls.append(1)

{'Emma Watson': 6666245597, 'Johnny Depp': 4776417000, 'Michelle Rodriguez': 4608031235, 'Orlando Bloom': 5148578162, 'Rupert Grint': 6408638290}

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [472]:
options = {'Nicolas Cage': 0, 'Danny Huston': 0, 'Kirsten Dunst': 0, 'Jim Sturgess': 0, 'Sami Gayle': 0}
for i in options.keys():
    options[i] = data[(data.release_year == 2012) & (data.cast.str.contains(i))]['profit'].sum()
print(options)
answer_ls.append(3)

{'Nicolas Cage': -32893443, 'Danny Huston': -32893443, 'Kirsten Dunst': -68109207, 'Jim Sturgess': -23410657, 'Sami Gayle': -32893443}

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [473]:
options = {'Tom Cruise': 0, 'Mark Wahlberg': 0, 'Matt Damon': 0, 'Angelina Jolie': 0, 'Adam Sandler': 0}
for i in options.keys():
    options[i] = len(data[(data.budget > data.budget.mean()) & (data.cast.str.contains(i))])
print(options)
answer_ls.append(3)

{'Tom Cruise': 15, 'Mark Wahlberg': 14, 'Matt Damon': 18, 'Angelina Jolie': 16, 'Adam Sandler': 17}

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [474]:
options = {'Drama': 0, 'Action': 0, 'Thriller': 0, 'Adventure': 0, 'Crime': 0}
for i in options.keys():
    options[i] = len(data[(data.cast.str.contains('Nicolas Cage')) & (data.genres.str.contains(i))])
print(options)
answer_ls.append(2)

{'Drama': 12, 'Action': 17, 'Thriller': 15, 'Adventure': 7, 'Crime': 10}

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [475]:
options = {'Universal': 0, 'Paramount Pictures': 0, 'Columbia Pictures': 0, 'Warner Bros': 0, 'Twentieth Century Fox Film Corporation': 0}
for i in options.keys():
    options[i] = len(data[data.production_companies.str.contains(i)])
print(options)
answer_ls.append(1)

{'Universal': 185, 'Paramount Pictures': 122, 'Columbia Pictures': 163, 'Warner Bros': 183, 'Twentieth Century Fox Film Corporation': 109}

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [476]:
options = {'Universal Pictures': 0, 'Paramount Pictures': 0, 'Columbia Pictures': 0, 'Warner Bros': 0, 'Twentieth Century Fox Film Corporation': 0}
for i in options.keys():
    options[i] = len(data[(data.release_year == 2015) & (data.production_companies.str.contains(i))])
print(options)
answer_ls.append(4)

{'Universal Pictures': 11, 'Paramount Pictures': 7, 'Columbia Pictures': 7, 'Warner Bros': 12, 'Twentieth Century Fox Film Corporation': 8}

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [477]:
options = {'Warner Bros': 0, 'Universal': 0, 'Columbia Pictures': 0, 'Paramount Pictures': 0, 'Walt Disney': 0}
for i in options.keys():
    options[i] = round(data[(data.production_companies.str.contains(i)) & (data.genres.str.contains('Comedy'))]['profit'].sum() / 1000000000, 2)
print(options)
answer_ls.append(2)

{'Warner Bros': 4.37, 'Universal': 9.13, 'Columbia Pictures': 7.16, 'Paramount Pictures': 3.06, 'Walt Disney': 7.98}

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [478]:
options = {'Universal': 0, 'Warner Bros': 0, 'Columbia Pictures': 0, 'Paramount Pictures': 0, 'Lucasfilm': 0}
for i in options.keys():
    options[i] = round(data[(data.production_companies.str.contains(i)) & (data.release_year == 2012)]['profit'].sum() / 1000000000, 3)
print(options)
answer_ls.append(3)

{'Universal': 1.981, 'Warner Bros': 1.258, 'Columbia Pictures': 2.501, 'Paramount Pictures': 0.411, 'Lucasfilm': -0.008}

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [479]:
display(data.loc[data.production_companies.str.contains('Paramount Pictures')].sort_values(['profit'], ascending = True).head(1))
answer_ls.append(1)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
926,tt0267626,0.72233,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,146,6.0,2002,-64831034

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [480]:
display(data.groupby(data.release_year).agg('sum')['profit'].sort_values(ascending=False))
answer_ls.append(5)

release_year
2015    18668572378
2014    16397812953
2012    16077001687
2013    15243179791
2011    14730241341
2009    13423744372
2010    13117292530
2008    11663881990
2007    11565911801
2004     9634180720
2003     9228823312
2002     9002361487
2005     8981925558
2006     8691077320
2001     7950614865
2000     6101399805
Name: profit, dtype: int64

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [481]:
dd = data.loc[data.production_companies.str.contains('Warner Bros')]
display(dd.groupby(dd.release_year).agg('sum')['profit'].sort_values(ascending=False))
answer_ls.append(1)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [482]:
data['release_date'] = pd.to_datetime(data['release_date'])
display(data['release_date'].dt.month.value_counts().sort_values(ascending=False))

answer_ls.append(4)

9     227
12    191
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_date, dtype: int64

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [483]:
reply = 0
for m in range(6, 9):
    x = data.loc[data['release_date'].dt.month == m]['release_date'].dt.month.value_counts()
    reply += x[m]
print(reply)

answer_ls.append(2)

450

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [484]:
df = data.loc[(data['release_date'].dt.month == 12) | (data['release_date'].dt.month == 1) | (data['release_date'].dt.month == 2)]
options = {'Steven Soderbergh': 0, 'Christopher Nolan': 0, 'Clint Eastwood': 0, 'Ridley Scott': 0, 'Peter Jackson': 0}
for i in options.keys():
    options[i] = len(df[df.director.str.contains(i)])
print(options)
answer_ls.append(5)

{'Steven Soderbergh': 6, 'Christopher Nolan': 0, 'Clint Eastwood': 6, 'Ridley Scott': 3, 'Peter Jackson': 7}

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [485]:
data['release_date'] = pd.to_datetime(data['release_date'])

data['release_month'] = data.iloc[:, 12].dt.month
display(data.groupby([data.release_year, data.release_month]).agg('sum')['profit'].sort_values(ascending=False).head(25))
#data.head()
#a.add('sum')['profit']

answer_ls.append(2)

release_year  release_month
2015          6                3757679861
2009          12               3423239738
2012          6                2965481705
2015          12               2777325507
2007          6                2764341802
2015          4                2602565518
2010          6                2449561498
2012          11               2412991475
2004          5                2412578839
2013          6                2411922008
2011          7                2331661017
2014          5                2279978281
2006          6                2098059770
2013          11               2047380217
2014          11               2043956761
2007          5                2042169546
2003          5                2000292657
2008          6                1943384763
2014          12               1919080286
2011          5                1917491757
2003          12               1862594516
2002          12               1848074177
2007          12               1831805203
2008          7                1791301749
2015          9                1775686025
Name: profit, dtype: int64

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [486]:
data['title_length'] = data['original_title'].str.len()
#display(data).head()
options = {'Universal': 0, 'Warner Bros': 0, 'Jim Henson Company': 0, 'Paramount Pictures': 0, 'Four By Two Productions': 0}
for i in options.keys():
    options[i] = round(data[data.production_companies.str.contains(i)]['title_length'].sum() / len(data[data.production_companies.str.contains(i)]['title_length']), 2)
print(options)


#data

answer_ls.append(5)

{'Universal': 14.76, 'Warner Bros': 15.25, 'Jim Henson Company': 59.0, 'Paramount Pictures': 17.03, 'Four By Two Productions': 83.0}

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [487]:
answer_ls.append(1)

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [488]:
answer_ls.append(1)

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [489]:
data.head(1)
display(data.sort_values(['vote_average'], ascending = False).head(19))
answer_ls.append(1)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit,release_month,title_length
600,tt0468569,8.466668,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,8432,8.1,2008,816921825,7,15
125,tt2084970,8.110711,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,2014-11-14,3478,8.0,2014,219555708,11,18
9,tt2096673,6.326804,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,2015-06-09,3935,8.0,2015,678708609,6,10
118,tt0816692,24.949134,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,2014-11-05,6498,8.0,2014,456752480,11,12
34,tt3170832,3.557846,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,2015-10-16,1520,8.0,2015,29401758,10,4
1082,tt0167260,7.122455,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,2003-12-01,5636,7.9,2003,1024888979,12,45
873,tt0253474,2.364204,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,Drama|War,Bac Films|Canal+Polska|Heritage Films|Studio B...,2002-09-24,938,7.9,2002,85072577,9,11
1801,tt0209144,3.095625,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,2000-10-11,2144,7.9,2000,30723096,10,7
1192,tt2024544,3.625529,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,2013-10-18,2241,7.9,2013,167000000,10,16
128,tt2267998,6.438727,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,2014-10-01,3720,7.9,2014,308330363,10,9
138,tt2278388,4.930820,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productio...,2014-02-26,2802,7.9,2014,144600318,2,24
119,tt2015381,14.311205,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,2014-07-30,5612,7.9,2014,603312399,7,23
1184,tt0993846,4.877927,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,Paramount Pictures|Appian Way|EMJAG Production...,2013-12-25,4027,7.9,2013,292000694,12,23
370,tt1375666,9.363643,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,Legendary Pictures|Warner Bros.|Syncopy,2010-07-14,9767,7.9,2010,665500000,7,9
316,tt1187043,0.816681,9000000,70000000,3 Idiots,Aamir Khan|Kareena Kapoor|Madhavan|Sharman Jos...,Rajkumar Hirani,Don't BE A STUPID BE AN I.D.I.O.T.,In the tradition of â€œFerris Buellerâ€™s Day ...,170,Drama|Comedy|Romance,Vidhu Vinod Chopra Productions,2009-12-23,662,7.8,2009,61000000,12,8
1564,tt0338013,3.863377,20000000,72258126,Eternal Sunshine of the Spotless Mind,Jim Carrey|Kate Winslet|Elijah Wood|Mark Ruffa...,Michel Gondry,I already forget how I used to feel about you.,"Joel Barish, heartbroken that his girlfriend u...",108,Science Fiction|Drama|Romance,Anonymous Content|This Is That Productions|Foc...,2004-03-19,2012,7.8,2004,52258126,3,37
497,tt0120737,8.575419,93000000,871368364,The Lord of the Rings: The Fellowship of the Ring,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,One ring to rule them all,"Young hobbit Frodo Baggins, after inheriting a...",178,Adventure|Fantasy|Action,WingNut Films|New Line Cinema|The Saul Zaentz ...,2001-12-18,6079,7.8,2001,778368364,12,49
28,tt1895587,4.062293,20000000,88346473,Spotlight,Mark Ruffalo|Michael Keaton|Rachel McAdams|Lie...,Tom McCarthy,Break the story. Break the silence.,The true story of how The Boston Globe uncover...,128,Drama|Thriller|History,Participant Media|Open Road Films|Anonymous Co...,2015-11-06,1559,7.8,2015,68346473,11,9
1214,tt0790636,1.765514,5000000,55198285,Dallas Buyers Club,Matthew McConaughey|Jennifer Garner|Jared Leto...,Jean-Marc VallÃ©e,Sometimes it takes a hustler to change the world,Loosely based on the true-life tale of Ron Woo...,117,Drama|History,Universal Studios|Universal Pictures|Voltage P...,2013-09-07,1831,7.8,2013,50198285,9,18

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [490]:
options = {0: 0, 1: 0, 2: 0, 3: 0, 4: 0}
act1 = ['Johnny Depp', 'Hugh Jackman', 'Vin Diesel', 'Adam Sandler', 'Daniel Radcliffe']
act2 = ['Helena Bonham Carter', 'Ian McKellen', 'Paul Walker', 'Kevin James', 'Rupert Grint']
for i in range(5):
    options[i] = len(data[(data.cast.str.contains(act1[i])) & (data.cast.str.contains(act2[i]))])
print(options)
answer_ls.append(5)

{0: 6, 1: 5, 2: 5, 3: 5, 4: 8}

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [491]:
data.head(1)
options = {'Quentin Tarantino': 0, 'Steven Soderbergh': 0, 'Robert Rodriguez': 0, 'Christopher Nolan': 0, 'Clint Eastwood': 0}
df = data.loc[data.revenue > data.budget]
#for i in options.keys():
#    options[i] = len(df[df.director.str.contains(i)])#(normalize = True)
df = df['director'].value_counts(normalize = True) * 100000000
display(df)
#display(options)
answer_ls.append(5)

Ridley Scott                                 811907.983762
Steven Spielberg                             676589.986468
Clint Eastwood                               676589.986468
Steven Soderbergh                            676589.986468
Shawn Levy                                   608930.987821
                                                 ...
Cory Edwards|Todd Edwards|Tony Leech          67658.998647
Ben Garant                                    67658.998647
Stephen Gaghan                                67658.998647
Joel Zwick                                    67658.998647
Jorge Blanco|Javier Abad|Marcos MartÃ­nez     67658.998647
Name: director, Length: 774, dtype: float64

# Submission

In [492]:
len(answer_ls)

36

In [493]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id  Answer
0    1       4
1    2       2
2    3       3
3    4       2
4    5       1
5    6       5
6    7       2
7    8       1
8    9       4
9   10       5
10  11       3
11  12       1
12  13       3
13  14       4
14  15       5
15  16       1
16  17       3
17  18       3
18  19       2
19  20       1
20  21       4
21  22       2
22  23       3
23  24       1
24  25       5
25  26       1
26  27       4
27  28       2
28  29       5
29  30       2
30  31       5
31  32       1
32  33       1
33  34       1
34  35       5
35  36       5